.instrumental-item {
  &__row {
    border-bottom: 1px solid $neutral-200;
    font-size: $fs-3;
  }

  &__row:hover,
  &__selected {
    background-color: $neutral-100;
    color: $neutral-500;
  }

  &__row td {
    cursor: default;
  }

  &__row:hover &__ellipsis {
    visibility: visible;
  }

  &__row:hover &__play-icon {
    display: inline-table;
  }

  &__row:hover &__note-icon {
    display: none;
  }

  &__active &__play-icon,
  &__active &__note-icon {
    display: none;
  }

  &__active &__speaker-icon,
  &__active &__active-note-icon {
    display: inline-table;
  }

  &__active:hover &__pause-icon {
    display: inline-table;
  }

  &__active:hover &__active-play-icon {
    display: inline-table;
  }

  &__active:hover &__play-icon,
  &__active:hover &__active-note-icon {
    display: none;
  }

  &__active:hover &__speaker-icon {
    display: none;
  }

  &__paused &__pause-icon,
  &__paused &__speaker-icon {
    display: none;
  }

  &__paused &__play-icon {
    display: none;
  }

  &__paused:hover &__play-icon {
    display: inline-table;
  }

  &__active &__title,
  &__active &__date-added,
  &__active &__active-note-icon,
  &__paused &__title,
  &__paused &__date-added,
  &__paused &__note-icon {
    color: $primary-300;

    &:hover {
      color: $primary-300;
    }
  }

  &__icon {
    color: $neutral-300;
    font-size: $fs-7;
    transition: transform .2s;
    vertical-align: text-top;

    &:hover {
      color: $neutral-200;
      transform: scale(1.1);
    }
  }

  &__play-icon,
  &__active-play-icon,
  &__active-note-icon {
    display: none;
  }

  &__pause-icon,
  &__speaker-icon {
    display: none;
  }

  &__speaker-icon,
  &__note-icon,
  &__active-note-icon {
    font-size: $fs-4;
  }

  &__heart {
    @include padding($su-2, null, $su-2, null);
  }

  &__ellipsis {
    color: $neutral-300;
    visibility: hidden;
  }

  &__dropdown {
    @include padding($su-2, null, $su-2, null);
    background-color: $neutral-500;
    border-radius: .3rem;
    color: $neutral-200;
    font-size: $fs-3;
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    z-index: 1;

    hr {
      border-color: currentColor;
    }
  }

  &__dropdown-list {
    list-style: none;
    margin: 0;
    width: max-content;
  }

  &__dropdown-item {
    @include padding($su-2, $su-8, $su-2, $su-6);
    text-align: left;
    width: 100%;

    &:hover {
      background-color: $neutral-400;
      color: $white;
    }
  }

}
