.instrumental-player-time-control {
  align-items: center;
  display: flex;

  &:hover .instrumental-player-slider__state {
    background-color: $primary-300;
  }

  &:hover .instrumental-player-slider__circle {
    background-color: $white;
    border-radius: 50%;
    height: 1.5rem;
    position: absolute;
    right: -1rem;
    top: -0.5rem;
    width: 1.5rem;
    color: $primary-300;
  }
}
