.header {
  font-size: $fs-5;

  &__brand {
    font-size: $fs-8;
  }

  &__colors {
    font-size: $fs-5;

    &:hover {
      cursor: pointer;
    }
  }

  &__dropdown {
    font-size: $fs-5;
  }

  .nav-link.active {
    border-bottom: 1px solid $pink-300;
  }
}
