.instrumental-table {
  width: 100%;

  &__error {
    color: $red-300;
    font-weight: 700;
  }

  &__no-filter {
    @include padding($su-1, null, null, $su-2);
    font-size: $fs-3;
  }

  &__reset {
    font-weight: 700;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-headers {
    border-bottom: 1px solid $neutral-200;
    font-size: $fs-3;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    vertical-align: baseline;
  }

  &__play-header {
    width: 4.6rem;
  }

  &__like-header {
    width: 3.9rem;
  }

  &__title-header {
    width: 28.3rem;
  }

  &__calendar {
    @include padding($su-1, null, $su-1, null);
    font-size: $fs-5;
  }
}
